<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
        <add key="UserStrings" value="AltaxoString.resources" />
        <add key="UserIcons" value="AltaxoBitmap.resources" />
        <add key="ApplicationUserDataDirectory" value="Altaxo\Altaxo" />
        <add key="PropertyFileName" value="AltaxoProperties.xml" />
        <add key="PropertyFileVersion" value="1.1" />
        <add key="PropertyXmlRootNodeName" value="AltaxoProperties" />
        <add key="MathMLRenderingConfig" value="..\data\resources\mathml"/>
    </appSettings>
</configuration>
