<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Properties.Settings>
            <setting name="UserStrings" serializeAs="String">
                <value>AltaxoString.resources</value>
            </setting>
            <setting name="UserIcons" serializeAs="String">
                <value>AltaxoBitmap.resources</value>
            </setting>
            <setting name="ApplicationUserDataDirectory" serializeAs="String">
                <value>Altaxo\Altaxo</value>
            </setting>
            <setting name="mathmlrenderingconfig" serializeAs="String">
                <value>..\data\resources\mathml</value>
            </setting>
        </Properties.Settings>
    </applicationSettings>
</configuration>